/*.colorBlock {
  display: none;
}*/
div{
  height: 150px;
  width: 150px;
  display: inline-block;
}

button {
  display: block;
}

#red {
  background-color: #ff0000;
}

#green {
  background-color: #00ff00;
}

#yellow {
  background-color: #ffff00;
}

#blue {
  background-color: #0000ff;
}

#pink {
  background-color: #cc00cc;
}

#orange {
  background-color: #ffaf00;
}

#aqua {
  background-color: #09c0ff;
}
